@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import url("https://fonts.googleapis.com/css?family=Audiowide|Monoton|Quantico:700");
* {
  font-variant: small-caps;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
  text-align: center;
}

h1 {
  color: rgb(235, 241, 240);
  font-variant: small-caps;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  text-align: center;
}

body {
  background-image:url(https://t3.ftcdn.net/jpg/07/47/94/24/240_F_747942439_Orv9yhUwUX4lFMST6Fp2ZEiY9mPr4etX.jpg);
  background-size: cover;      
  background-repeat: no-repeat;
  background-position: center;  
  height: 0vh;
  margin: 100;   
}

div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn {
  width: 300px;
  margin: 20px;
  border: 3px solid #155799;
  padding: 6px 24px;
  font-size: 1.15em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #155799;
  background-color: transparent;
  transition: all 0.25s ease-in-out;
}
.btn:hover {
  background-color: #155799;
  border-color: #155799;
  color: #000000;
}
.btn:active {
  background-color: #155799;
  border-color: #155799;
  color: #000000;
  box-shadow: none;
}
.btn:focus, .btn:active:focus {
  background-color: #155799;
  border-color: #155799;
  color: #000000;
  outline: 5px auto #155799;
}
.btn:visited {
  background-color: #155799;
  border-color: #155799;
}

.btn-open {
  width: 300px;
  margin: 10px;
  border: 2px solid #f2994a;
  padding: 6px 24px;
  font-size: 1.15em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #f2994a;
  background-color: transparent;
  transition: all 0.25s ease-in-out;
}
.btn-open:hover {
  background-color: #f2994a;
  border-color: #f2994a;
  color: #000000;
}
.btn-open:active {
  background-color: #f2994a;
  border-color: #f2994a;
  color: #000000;
  box-shadow: none;
}
.btn-open:focus, .btn-open:active:focus {
  background-color: #f2994a;
  border-color: #f2994a;
  color: #000000;
  outline: 5px auto #f2994a;
}
.btn-open:visited {
  background-color: #f2994a;
  border-color: #f2994a;
}

.btn-submit {
  width: 300px;
  margin: 10px;
  border: 2px solid #159957;
  padding: 6px 24px;
  font-size: 1.15em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #83c9a6;
  background-color: transparent;
  transition: all 0.25s ease-in-out;
}
.btn-submit:hover {
  background-color: #159957;
  border-color: #159957;
  color: #000000;
}
.btn-submit:active {
  background-color: #159957;
  border-color: #159957;
  color: #000000;
  box-shadow: none;
}
.btn-submit:focus, .btn-submit:active:focus {
  background-color: #159957;
  border-color: #159957;
  color: #000000;
  outline: 5px auto #159957;
}
.btn-submit:visited {
  background-color: #159957;
  border-color: #159957;
}

.btn-cancel {
  width: 300px;
  margin: 10px;
  border: 2px solid #c33764;
  padding: 6px 24px;
  font-size: 1.15em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #c33764;
  background-color: transparent;
  transition: all 0.25s ease-in-out;
}
.btn-cancel:hover {
  background-color: #c33764;
  border-color: #c33764;
  color: #000000;
}
.btn-cancel:active {
  background-color: #c33764;
  border-color: #c33764;
  color: #000000;
  box-shadow: none;
}
.btn-cancel:focus, .btn-cancel:active:focus {
  background-color: #c33764;
  border-color: #c33764;
  color: #000000;
  outline: 5px auto #c33764;
}
.btn-cancel:visited {
  background-color: #c33764;
  border-color: #c33764;
}

.btn-employees {
  width: 300px;
  margin: 10px;
  border: 2px solid #c1502e;
  padding: 6px 24px;
  font-size: 1.15em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #c1502e;
  background-color: transparent;
  transition: all 0.25s ease-in-out;
}
.btn-employees:hover {
  background-color: #c1502e;
  border-color: #c1502e;
  color: #000000;
}
.btn-employees:active {
  background-color: #c1502e;
  border-color: #c1502e;
  color: #000000;
  box-shadow: none;
}
.btn-employees:focus, .btn-employees:active:focus {
  background-color: #c1502e;
  border-color: #c1502e;
  color: #000000;
  outline: 5px auto #c1502e;
}
.btn-employees:visited {
  background-color: #c1502e;
  border-color: #c1502e;
}

.return,
.btn-dice {
  width: 300px;
  margin: 10px;
  border: 2px solid white;
  padding: 6px 24px;
  font-size: 1.15em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  background-color: #000000;
  transition: all 0.25s ease-in-out;
}
.return:hover,
.btn-dice:hover {
  background-color: white;
  border-color: white;
  color: #000000;
}
.return:active,
.btn-dice:active {
  background-color: white;
  border-color: white;
  color: #000000;
  box-shadow: none;
}
.return:focus, .return:active:focus,
.btn-dice:focus,
.btn-dice:active:focus {
  background-color: white;
  border-color: white;
  color: #000000;
  outline: 5px auto white;
}
.return:visited,
.btn-dice:visited {
  background-color: white;
  border-color: white;
}

.btn-juridico,
.btn-investigation,
.btn-police,
.btn-forensics,
.btn-analysis,
.btn-tatical,
.btn-consultants {
  width: 300px;
  margin: 10px;
  border: 2px solid #c33764;
  padding: 6px 24px;
  font-size: 1.15em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #c33764;
  background-color: #000000;
  transition: all 0.25s ease-in-out;
}
.btn-juridico:hover,
.btn-investigation:hover,
.btn-police:hover,
.btn-forensics:hover,
.btn-analysis:hover,
.btn-tatical:hover,
.btn-consultants:hover {
  background-color: #c33764;
  border-color: #c33764;
  color: #000000;
}
.btn-juridico:active,
.btn-investigation:active,
.btn-police:active,
.btn-forensics:active,
.btn-analysis:active,
.btn-tatical:active,
.btn-consultants:active {
  background-color: #c33764;
  border-color: #c33764;
  color: #000000;
  box-shadow: none;
}
.btn-juridico:focus, .btn-juridico:active:focus,
.btn-investigation:focus,
.btn-investigation:active:focus,
.btn-police:focus,
.btn-police:active:focus,
.btn-forensics:focus,
.btn-forensics:active:focus,
.btn-analysis:focus,
.btn-analysis:active:focus,
.btn-tatical:focus,
.btn-tatical:active:focus,
.btn-consultants:focus,
.btn-consultants:active:focus {
  background-color: #c33764;
  border-color: #c33764;
  color: #000000;
  outline: 5px auto #c33764;
}
.btn-juridico:visited,
.btn-investigation:visited,
.btn-police:visited,
.btn-forensics:visited,
.btn-analysis:visited,
.btn-tatical:visited,
.btn-consultants:visited {
  background-color: #c33764;
  border-color: #c33764;
}

h6 {
  text-align: right;
  color: white;
  position: fixed;
  bottom: 0;
  width: 98%;
}

p {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  bottom: 0%;
}